.title{
    font-size: 5rem;
    text-decoration: underline;
    margin: 0 30px;
}



@media (min-width: 768px) and (max-width: 1024px){
  .title{
    font-size: 4rem;
  }
}


@media (max-width: 768px){
  .title{
    font-size: 2rem;
  }
}