
.container {
  background-image: linear-gradient(to right, #74b9ff, #0984e3);
  text-align: center;
  /* margin: 0 5rem; */
  padding-top:10px;
  font-family:sans-serif;
}

.map-section {
  margin-top:1rem;
}

