


.container {
  background-image: linear-gradient(to right, #4A9470, #486F88);
  text-align: center;
  margin: auto;
  padding-top:10px;
  font-family:sans-serif;
  height:auto;
  width: auto;

}

.title{
  font-size: 3rem;
  text-decoration: underline;
}

.space{
  padding: 10px 0;
  font-size: 2.5rem;

}

.info {
  font-size: 2rem;
  line-height: 2;
  border-top: 2px dashed white;
}
